<ion-view title="Anónimos" id="page3">

  <ion-content padding="true" class="has-header">
    <ion-list ng-hide="showPosts">
      <ion-item ng-repeat="comm in communities"ng-click="show(comm.$id)">{{comm.name}}

      </ion-item>
    </ion-list>
    <div  ng-show="showPosts">
      <ion-list>
        <button class="button button-full button-positive" ng-click="showAll()">
          Ver todas
        </button>
        <ion-item ng-repeat="post in posts" class="item-avatar" >
          <h2>Anónimo X</h2> {{post.text}}
        </ion-item>
      </ion-list>
      <div class="item item-input-inset" style="bottom:0px">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Avisa a tu comunidad" ng-model="a.msg">
        </label>
        <button class="button button-small" ng-click="sendToCommunity()">
          Enviar
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
