<ion-view title="Ingresar" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="ingresar-form1" class="list">
      <ion-list id="ingresar-list2">
        <label class="item item-input" id="ingresar-input1">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="ingresar-input2">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <div id="ingresar-button-bar1" class="button-bar">
        <button id="ingresar-button1" class="button button-positive  button-block">Ingresar</button>
        <button id="ingresar-button7" class="button button-assertive  button-block">Google</button>
      </div>
      <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="ingresar-button2" class="button button-positive  button-block button-clear">Crear una cuenta</a>
    </form>
  </ion-content>
</ion-view>