<ion-view title="Mis Comunidades" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list ng-hide="showPosts">
      <ion-item ng-repeat="comm in communities" ng-click="show(comm.$id)">
        {{comm.name}}
        <ion-option-button class="button-assertive">Irse</ion-option-button>
      </ion-item>
    </ion-list>
    <div ng-show="showPosts">
      <ion-list>
        <button class="button button-full button-positive" ng-click="showAll()">
          Ver todas
        </button>
        <ion-item ng-repeat="post in posts">
          <h2>{{post.text}}</h2> {{post.author}}
          <div ng-if="post.type=='ride'">Desde: {{post.desde}} Hasta: {{post.hasta}}</div>
        </ion-item>

      </ion-list>

    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable row" ng-show="showPosts">
      <input type="text" placeholder="Avisa a tu comunidad" ng-model="a.msg" class="col-80">
      <button class="button button-clear button-positive" ng-click="sendToCommunity()" class="col-20">
        Enviar
      </button>
  </ion-footer-bar>
</ion-view>
