<ion-view title="Registrarse" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="registrarse-form2" class="list">
      <ion-list id="registrarse-list3">
        <label class="item item-input" id="registrarse-input3">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrarse-input4">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrarse-input5">
          <span class="input-label">Contraseña</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div id="registrarse-button-bar2" class="button-bar">
        <button id="registrarse-button3" class="button button-positive  button-block">Registrarse</button>
        <button id="registrarse-button13" class="button button-assertive  button-block">3</button>
      </div>
    </form>
  </ion-content>
</ion-view>