<ion-modal-view >

  <ion-content >
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Desde</span>
        <input type="text" placeholder="Desde" ng-model="viaje.desde">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Hasta</span>
        <input type="text" placeholder="Hasta" ng-model="viaje.hasta">
      </label>
      <button class="button button-full button-positive" ng-click="compartir()">
        Compartir Viaje
      </button>
    </div>
  </ion-content>

</ion-modal-view>
